/* global css */
/* Note: might conflict with existing styles if not in shadow DOM */

#wkhwa-container-div {
    position: relative;
    top: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
}